<div class="flex justify-center items-center pt-4 mb-10 flex-col lg:flex-row">
  <a href="/" class="text-white hover:no-underline unstyled-link">
    <div class="flex items-center gap-2 group">
      <img
        src="https://emojicdn.elk.sh/🐟"
        alt="Jorge the Fish"
        class="h-20 hidden group-hover:block"
      />
      <img
        src="/assets/images/logo.png"
        alt="Mayhem logo"
        class="h-20 block group-hover:hidden"
      />
      <h1 class="text-3xl font-black font-heading text-white">
        Mayhem <span class="font-normal">Robotics</span>
      </h1>
    </div>
  </a>

  <div class="w-px bg-gray-600 h-12 ml-10 hidden lg:block"></div>

  <div class="flex space-x-3 items-center ml-0 mt-5 lg:ml-10 lg:mt-0">
    <a
      class="btn{% if page.name != 'index.html' %} bg-transparent hover:bg-gray-800{% endif %}"
      href="/"
      >Home</a
    >
    <a
      class="btn{% if page.name != 'contact.html' %} bg-transparent hover:bg-gray-800{% endif %}"
      href="/contact"
      >Contact<span class="hidden xs:inline"> Us</span></a
    >
    <a
      class="btn{% if page.name != 'sponsors.html' %} bg-transparent hover:bg-gray-800{% endif %}"
      href="/sponsors"
      ><span class="hidden xs:inline">Our </span>Sponsors</a
    >
  </div>
</div>
