<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="FRC robotics team from Bedford, New Hampshire"
    />

    <meta name="og:title" content="{{ page.title }}" />
    <meta
      name="og:description"
      content="FRC robotics team from Bedford, New Hampshire"
    />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://frc8724.github.io" />
    <meta
      name="og:image"
      content="https://frc8724.github.io/assets/banner.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/921bd8fdbd.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/style.css"
    />

    <script src="/assets/js/main.js" type="module"></script>
  </head>
  <body class="bg-gray-900 text-white">
    {% include header.html %}
    <div class="w-full max-w-5xl mx-auto">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
