---
title: "Sponsors | Mayhem Robotics"
layout: page
heading: Our Sponsors
---

<div class="text-center">
  {% comment %} 👉 Edit sponsors in _data/sponsors.yml {% endcomment %}
  
  {% for level in site.data.sponsors %}
    <h2 class="text-3xl font-heading font-bold mb-6">{{ level.title }}</h2>

    <div class="mb-10 grid grid-cols-3 gap-5 text-black">
      {% for sponsor in level.sponsors %}
        {% if sponsor.url %}
          <a href="{{ sponsor.url }}" target="_blank" class="hover:scale-[1.02] transition-transform">
            <div class="flex items-center justify-center rounded-md p-5 font-bold text-2xl text-gray-700 h-full" style="background-color: {{ sponsor.color | default: "white" }}" title="{{ sponsor.name }}">
              {% if sponsor.image %}
                <img src="/assets/images/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}" />
              {% else %}
                {{ sponsor.name }}
              {% endif %}
            </div>
          </a>
        {% else %}
          <div class="flex items-center justify-center rounded-md p-5 font-bold text-2xl text-gray-700" style="background-color: {{ sponsor.color | default: "white" }}" title="{{ sponsor.name }}">
            {% if sponsor.image %}
              <img src="/assets/images/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}" />
            {% else %}
              {{ sponsor.name }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
